[submodule "Sofka-IdentityService"]
	path = Sofka-IdentityService
	url = https://github.com/Software-Challenges/Sofka-IdentityService.git
[submodule "Sofka-AccountService"]
	path = Sofka-AccountService
	url = https://github.com/Software-Challenges/Sofka-AccountService.git
