[submodule "SoftBanking-IdentityService"]
	path = SoftBanking-IdentityService
	url = https://github.com/Software-Challenges/SoftBanking-IdentityService.git
[submodule "SoftBanking-AccountService"]
	path = SoftBanking-AccountService
	url = https://github.com/Software-Challenges/SoftBanking-AccountService.git
